/*Common*/
:root {
    --main-font : 'Encode Sans SC', sans-serif;
    --slide-count : 4;
}

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--main-font);
}

body {
    position: relative;
}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    padding : 1rem;
    align-items : center;
}

/*Header - bar*/
.header-bar {
    background: none;
    border: none;
    outline: none;
    font-size : 2rem;
    transform: translateY(5%);
}

.bar-dropdown {
    display: none;
}

/*Header - logo*/
.header-logo {
    font-size : 4rem;
    color : black;
    transform : translateX(14%);
}

.header-logo a {
    color : black;
}

/*Header - login*/
.header-login {
    background: #33312c;
    color : white;
    padding : 0.7rem;
    transform: translateY(10%);
    border-radius: 0.3rem;
    cursor: pointer;
    outline : none;
    font-size: 1.2rem;
}

.header-login:hover {
    background-color : #4f4e4b ;
}

/*Main*/
main {
    max-width: 1440px;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0 auto;
}

.signin-container {
    display: flex;
    flex-direction: column;
    transform: translateY(-20%);
}

.signin-container .signin-form {
    display: flex;
    flex-direction: column;
}

.signin-container .signin-logo {
    font-size : 4.5rem;
}

.signin-container input {
    margin: 0.3rem 0 0.5rem 0;
    padding : 0.8rem;
    outline : none;
    border : 1px solid black;
    border-radius: 1rem;
    font-size : 1.3rem;
}

.signin-container button {
    height : 4.5rem;
    width: 4.5rem;
    margin : 0.4rem auto 0;
    transition: all 400ms ease;
    transform : translateY(1rem);
    transform-origin: center;
    background: linear-gradient(135deg, #E8CBC0, #636FA4);
    font-size : 1.4rem;
    color : white;
    outline: none;
    border : 0.1px solid black;
    box-shadow: 10px 10px 10px; /*??*/
    cursor: pointer;
}

.signin-container button:hover {
    transform : translateY(1rem) rotate(45deg) scale(1.1);
}

.signin-container button:hover span {
    display: inline-block;
    transform : rotate(-45deg);
    font-weight: 600;
}

/*Footer*/
footer {
    margin : 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}