$MainColor: #ffffff;

.wow-enter {
  opacity: 0;
}
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}

@mixin white() {
  background: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.white {
  color: $MainColor;
}

.my-alert {
  @include white();
}

.my-alert2 {
  @extend .my-alert;
  background-color: #ffe591;
}

.my-alert p {
  margin-bottom: 0;
}
